@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* ====================================== */
/* VARIABLES */
/* ====================================== */

:root {
    /* Colors */
    --bg-color: hsl(180, 52%, 96%);
    --bg-filter: white;
    --primary: hsl(180, 29%, 50%);
    --gray: rgb(100, 100, 100)

    /* Font */
    --font-size: 15px;
    --font-weight-md: 500;
    --font-weight-lg: 700;
    --font-family: 'League Spartan', sans-serif;
}

/* ====================================== */
/* MODULES */
/* ====================================== */

.align-center {
    display: flex;
    align-items: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

/* ====================================== */
/* BODY */
/* ====================================== */

body {
    background-color: var(--bg-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.bg-image{
    width: 100%;
}

/* ====================================== */
/* FILTERS  SECTION*/
/* ====================================== */

.filters-container {
    background-color: var(--bg-filter);
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    transform: translateY(-50%);
}

.clear-tag {
    color: var(--gray);
    font-weight: var(--font-weight-lg);
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
}

.filter-pill {
    background-color: var(--bg-color);
    color: var(--primary);
    font-weight: var(--font-weight-lg);
    padding: 0;
    overflow: hidden;
    border-radius: 0.75rem;
}

.tag-text {
    padding: 0.35rem 1rem;
}

.tag-remove {
    background-color: var(--primary);
    padding: 0.5rem;
    cursor: pointer;
    height: 100%;
    transition: background-color 0.2s;
    justify-content: center;
}

.tag-remove:hover {
    background-color: hsl(180, 14%, 32%);
}

.filter-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:  80%;
    gap: 1rem;
    flex: 1;
}

/* ====================================== */
/* CARD SECTION */
/* ====================================== */

.card {
    background-color: white;
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    border-left: 7px solid transparent;
    transition: border-left-color 0.3s ease;
}

.card:hover {
    border-left-color: hsl(180, 29%, 50%);
}

.about-section {
    display: flex;
    text-align: center;
    gap: 1rem;
}

.about-section h1 {
    color: hsl(180, 29%, 50%);
    font-weight: bold;
}

.tag-new {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: hsl(180, 29%, 50%);
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
}

.tag-featured {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: hsl(180, 14%, 20%);
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
}

.tags {
    display: flex;
    text-align: center;
    gap: 0.5rem;
    font-size: 0.75rem;
}

.job-title {
    margin-top: 0.5rem;
    font-weight: bold;
}

.job-desc {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: gray;
}

hr {
    width: 90%;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 1rem 0;
}

.tag-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.tag-group button {
    background: transparent;
    cursor: pointer;
    padding: 0.35rem 1rem;
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    font-weight: bold;
}

.card img {
    width: 3rem;
    position: relative;
    margin-top: -2.5rem;
    margin-bottom: 1rem;;
}